@import '@styles/settings/__settings';

.footer {
    color: $white;
    background-color: $dark;
    width: 100%;
    padding: 2rem 4rem;

    .wrapper_top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .colum_locations {
            p {
                line-height: 130%;
            }
        }
        .colum_dropdown {
            padding: 2rem 0rem;
            ul.hamburger_ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li.hamburger_li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    cursor: pointer;
                    height: 100%;
                    padding-bottom: 1rem;
                    .hamburger_child_wrapper {
                        z-index: 5;
                        position: absolute;
                        left: -0.5rem;
                        top: 1.5rem;
                        overflow: hidden;
                        width: 15rem;
                        max-height: 200px;
                        transition: width 0.3s
                                cubic-bezier(0.585, 0.005, 0, 0.995),
                            max-height 0.4s cubic-bezier(0.585, 0.005, 0, 0.995)
                                0.3s;
                        border-bottom: 1px solid white;
                        border-top: 1px solid white;
                        ul.hamburger_child_ul {
                            width: 15rem;
                            max-height: 200px;
                            background-color: $dark;
                            list-style: none;
                            display: flex;
                            flex-direction: column;

                            li.hamburger_child_li {
                                padding: 0.5rem 1rem;
                                a {
                                    font-size: 0.8rem;
                                }
                            }

                            li.hamburger_child_li:hover {
                                background-color: rgba(255, 255, 255, 0.1);
                            }
                        }
                    }
                    .hamburger_child_wrapper_hide {
                        width: 0px;
                        max-height: 1px !important;
                        transition: width 0.3s
                                cubic-bezier(0.585, 0.005, 0, 0.995) 0.3s,
                            max-height 0.4s cubic-bezier(0.585, 0.005, 0, 0.995);
                    }
                }
            }
        }

        .colum_follow_us {
            padding-top: 2rem;
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                gap: 1rem;
                color: $white;
                li {
                    cursor: pointer;
                    svg {
                        height: 1.5rem;
                    }
                }
            }
        }
    }
    .wrapper_bottom {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-top: 0.2px solid rgb(255, 255, 255, 0.8);

        p {
            margin: 0;
        }
        a {
            color: $white;
            text-decoration: none;
        }
    }
}

@include respond(laptop) {
    .footer {
        .wrapper_top {
            grid-template-columns: 1fr 1fr 1fr;
            .colum_follow_us {
                padding-bottom: 2rem;
            }
        }
        .wrapper_bottom {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@include respond(tablet) {
    .footer {
        padding: 2rem 2rem;
        .wrapper_top {
            grid-template-columns: 1fr 1fr;

            .colum_follow_us {
                padding-top: 4rem;
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }
        .wrapper_bottom {
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;

            p:nth-of-type(2) {
                grid-row: 2/3;
            }
        }
    }
}
